/* SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de> */
/* SPDX-License-Identifier: CC0-1.0 */

:root {
    --sl-nav-gap: 0.5rem;
}

.site-title {
    font-family: Neucha, serif;
    font-weight: bold;
    font-size: var(--sl-text-h3);

    span {
        margin-top: 0.3rem;
    }
}


[data-has-hero] body {
    background-image: url('../assets/bg-dark.webp');
    background-size: auto 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
}

@media (min-aspect-ratio: 4/3) {
    [data-has-hero] body {
        background-size: 100vw auto;
    }
}

:root[data-theme='light'][data-has-hero] body {
    background-image: url('../assets/bg-light.webp');
    background-color: white;
}

[data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

[data-has-hero] .main-frame {
    padding-top: 0;
}

.hero {
    min-height: calc(100vh - 150px);
}

.hero h1,
.hero .tagline {
    font-family: Neucha, serif;
}

.hero h1 {
    font-size: clamp(5rem, calc(3rem + 10vw), 10rem);
    font-weight: normal;
    line-height: 4rem;

    &::after {
        content: '';
        display: inline-block;
        width: 0.35em;
        height: 0.35em;
        vertical-align: super;
        background-image: url(../assets/kando-logo-postfix-dark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-0.025em, -0.2em);
    }
}

:root[data-theme='light'] .hero h1::after {
    background-image: url(../assets/kando-logo-postfix-light.svg);
}

.hero .tagline {
    font-size: calc(clamp(5rem, calc(3rem + 10vw), 10rem) * 0.24);
}

@media (min-width: 50rem) {
    .hero {
        grid-template-columns: 7fr 5fr;
    }

    .hero h1 {
        margin-top: 4rem;
        line-height: 5rem;
    }

    .hero>img,
    .hero>.hero-html {
        width: 100%;
    }

    .hero .tagline {
        font-size: calc(clamp(5rem, calc(3rem + 10vw), 10rem) * 0.175);
    }
}

/* We do not want to limit the width of the YouTube embeds. */
lite-youtube {
    max-width: none !important;
}

video,
lite-youtube,
iframe {
    mask-image: url("../assets/image-mask.jpg");
    mask-mode: luminance;
    mask-size: 100% 100%;
}

.splash {
    background-image: url("../assets/video-bg.png");
    background-size: 100% 100%;
    margin: -5% -19%;
    padding: 5% 19%;
}

img {
    mask-image: url("../assets/image-mask.jpg");
    mask-mode: luminance;
    mask-size: 100% 100%;

    &.shadow {
        mask-image: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
    }

    &.no-mask {
        mask-image: none;
    }
}

[data-has-hero] .hero-element.right {
    transform: perspective(1000px) rotateY(-30deg);
}

.content-panel kbd {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

:root[data-theme='dark'] .content-panel kbd {
    border: 1px solid #555;
    border-top-color: #666;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 1), 0 0 0 2px #383838 inset;
    background-color: #333;
}

/* The astro icons are not displayed correctly as they get an display: block;
   from somewhere. We add this class manually to make them inline again. */
.inline-icon {
    display: inline-block !important;
    transform: translateY(0.15em);
}

/* We make long code blocks scrollable. */
.expressive-code pre {
    max-height: 500px !important;
    overflow-y: auto !important;
}

/* Style the Markdown heading links. */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6)>a {
    color: var(--sl-color-white);
    text-decoration: none;

    &:hover::after {
        content: '#';
        color: var(--sl-color-accent);
        margin-left: 0.25em;
        font-size: 0.8em;
    }
}



/* Dark mode colors. */
:root {
    --sl-color-accent-low: #351a25;
    --sl-color-accent: #a5416c;
    --sl-color-accent-high: #f0cece;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #ebced7;
    --sl-color-accent: #9f3b67ff;
    --sl-color-accent-high: #4d2133;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;
}