/* SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de> */
/* SPDX-License-Identifier: CC0-1.0 */

:root {
    --sl-nav-gap: 0.5rem;
    --sl-line-height: 1.6;
    --swiper-pagination-bullet-size: 14px;
}

.site-title {
    font-family: Neucha, serif;
    font-weight: bold;
    font-size: var(--sl-text-h3);

    span {
        margin-top: 0.3rem;
        overflow: visible;
    }
}


.sl-link-button {
    padding: 0.7rem 1.2rem;

    &.primary {
        font-weight: bold;
        letter-spacing: 0.05em;
        background: var(--gradient-sakura);
        transition: filter 0.2s ease;

        &:hover {
            filter: brightness(1.1);
        }
    }
}

/* Swiper tweaks */

.swiper {
    &.fullwidth-swiper {
        max-width: 100vw;

        .swiper-slide {
            max-width: var(--sl-content-width);
            padding: 0 var(--sl-content-pad-x);
        }
    }

    &.cards-swiper {
        max-width: calc(min(900px, 100vw - var(--sl-content-pad-x)));

        .swiper-slide {
            filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
        }
    }

    &.swiper-coverflow {
        perspective-origin: 50% 70%;
    }

    .swiper-slide {
        margin-bottom: 3rem;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
}

/* We do not want to limit the width of the YouTube embeds. */
lite-youtube {
    max-width: none !important;
}

video,
lite-youtube,
iframe {
    mask-image: url("../assets/image-mask.jpg");
    mask-mode: luminance;
    mask-size: 100% 100%;
}

.splash {
    background-image: url("../assets/video-bg.png");
    background-size: 100% 100%;
    margin: -5% -19%;
    padding: 5% 19%;
}

.sakura-font {
    font-weight: bold;
    background-clip: text;
    color: transparent;
    background-image: var(--gradient-sakura);
}

img {
    mask-image: url("../assets/image-mask.jpg");
    mask-mode: luminance;
    mask-size: 100% 100%;

    &.shadow {
        mask-image: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
    }

    &.no-mask {
        mask-image: none;
    }
}

.content-panel kbd {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

:root[data-theme='dark'] .content-panel kbd {
    border: 1px solid #555;
    border-top-color: #666;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 1), 0 0 0 2px #383838 inset;
    background-color: #333;
}

/* The astro icons are not displayed correctly as they get an display: block;
   from somewhere. We add this class manually to make them inline again. */
.inline-icon {
    display: inline-block !important;
    transform: translateY(0.15em);
}

/* We make long code blocks scrollable. */
.expressive-code pre {
    max-height: 500px !important;
    overflow-y: auto !important;
}

/* Style the Markdown heading links. */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6)>a {
    color: var(--sl-color-white);
    text-decoration: none;

    &:hover::after {
        content: '#';
        color: var(--sl-color-accent);
        margin-left: 0.25em;
        font-size: 0.8em;
    }
}

/* Dark mode colors. */
:root {
    --sl-color-accent-low: #351a25;
    --sl-color-accent: #a5416c;
    --sl-color-accent-high: #f0cece;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;

    --swiper-pagination-color: var(--sl-color-accent);
    --swiper-pagination-bullet-inactive-color: var(--sl-color-white);

    --gradient-sakura: linear-gradient(135deg, var(--sl-color-accent-high) 0%, #f3a3a3 100%);
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #ebced7;
    --sl-color-accent: #9f3b67ff;
    --sl-color-accent-high: #4d2133;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;

    --swiper-pagination-color: var(--sl-color-accent);
    --swiper-pagination-bullet-inactive-color: var(--sl-color-white);

    --gradient-sakura: linear-gradient(135deg, #a53d6b 0%, #652945 100%);
}