---
// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: CC0-1.0

// From here: https://schneegans.github.io/tutorials/2015/10/06/accordions
---

<div class="accordion accordion-items-4">
  <ul>
    <slot />
  </ul>
</div>

<style lang="scss" is:global>
  .accordion {
    // the accordion shall always have a fixed aspect ration in
    // order to prevent distortion. Therefore we set the height
    // to zero and define a bottom padding in percent. This is
    // done down in the second half.
    height: 0;

    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    ul {
      margin: 0;
      padding: 0;

      li {
        height: 0;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: relative;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        transition: all 400ms;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .caption {
          position: absolute;
          bottom: 0;
          margin-bottom: 0 !important;
          width: 100%;
          padding: 20px;
          color: white;

          overflow: hidden;
          opacity: 0;

          transition: all 300ms;
          background-color: rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(10px);

          h3 {
            color: white;
            transition: all 500ms;
            transform: translateX(-30px);
          }

          p {
            display: inline-block;
            transition: all 500ms;
            font-size: 0.8em;
            transform: translateX(-60px);
          }
        }

        &:hover div {
          opacity: 1;

          h3,
          a,
          p {
            transform: translateX(0px);
          }
        }
      }
    }

    @for $slides from 3 through 10 {
      &.accordion-items-#{$slides} {
        // decrease height for increasing number of items
        $accordion_aspect_ratio: calc(1.3 + $slides / 5);
        $slide_aspect_ratio: 1.6;

        $slide_h: calc(100% / $accordion_aspect_ratio);
        $slide_w: calc($slide_h * $slide_aspect_ratio);

        padding-bottom: $slide_h;

        ul li {
          width: $slide_w;
          margin-right: calc(100% / $slides - $slide_w - 1%);
          padding-bottom: $slide_h;
        }

        ul:hover li {
          margin-right: calc((99% - $slide_w) / ($slides - 1) - $slide_w);
        }

        ul:hover li:hover {
          margin-right: 0;
        }
      }
    }
  }
</style>
