---
import type { Props } from '@astrojs/starlight/props';
import { Icon } from 'astro-icon/components';
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default {...Astro.props}><slot /></Default>

<div class="kudos">
  <Icon name="simple-icons:creativecommons" /> Content Licensed under CC-BY-4.0 by Simon Schneegans
  and all other Kando Documentation Contributors
  <br />
  <a href="https://github.com/kando-menu/kando-menu.github.io">
    <Icon name="simple-icons:github" /> Hosted on GitHub Pages
  </a>
</div>

<style>
  .kudos {
    text-align: center;
    line-height: 2rem;
    font-size: var(--sl-text-xs);
    color: var(--sl-color-gray-3);
  }

  .kudos a {
    margin: 1.5rem auto;
    color: var(--sl-color-gray-3);
  }

  .kudos a:hover {
    color: var(--sl-color-white);
  }

  svg {
    transform: translateY(0.12em);
  }
</style>
