---
// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: CC0-1.0
---

<div class="showcase">
  <slot />
</div>

<style is:global>
  .fade-in {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(5rem) scale(0.95);
  }

  .fade-in.visible {
    opacity: 1;
    transform: none;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const heroComponent = document.querySelector('.hero');
    if (!heroComponent) return;

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
          } else {
            if (entry.boundingClientRect.bottom > window.innerHeight) {
              entry.target.classList.remove('visible');
            }
          }
        });
      },
      { threshold: 0 }
    );

    const elements = document.querySelectorAll('.showcase > *');
    elements.forEach((element) => {
      element.classList.add('fade-in');
      observer.observe(element);
    });
  });
</script>
